* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 51, 255, 0.774);
  padding-bottom: 50px;
  width: 500px;
}

.container .date {
  color: #fff;
  padding: 20px;
}

.container .header h1 {
  font-weight: 400;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.currency-container {
  padding: 20px;
}

.currency-container .currecy-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency-container .currecy-1 input[type="text"] {
  background-color: transparent;
  color: #fff;
  font-family: "Montserrat";
  outline: none;
  border: none;
  font-size: 40pt;
  width: 60%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-bottom: 2px solid #fff;
}

.currency-container .currecy-1 #currency-one,
.currency-container .currecy-1 #currency-two {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
  width: 90px;
  padding: 10px;
}

.currency-container .currecy-1 .select {
  position: relative;
  overflow: hidden;
}

.currency-container .currecy-1 .select::after {
  content: "\25BC";
  position: absolute;
  color: #ffffffde;
  font-size: 15pt;
  top: 0;
  right: 0;
  padding: 6px 30px;
  pointer-events: none;
}

.swap-rate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: #fff;
  font-size: 15pt;
  height: 10vh;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 30px;
  color: rgba(255, 51, 255, 0.774);
  margin-left: 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
}

.btn:hover {
  background-color: #fdf5f5;
}
